$hover-background-color: #eee;

nav .name h1 a {
  font-family: 'Tinos', serif;
  font-size: 24px;
}

.container {
  margin-top: 20px;

  h2, h3 {
    text-align: center;
  }

  h3 {
    color: grey;
    margin-top: -15px;
    margin-bottom: 20px;
  }
}

#footer{
  // font-family: 'Tinos', serif;
  margin-top: 30px;
  display: block;
  padding-top: 20px;
  height: 100px;
  color: white;
  text-align: center;
  width: 100%;
  background-color: black;
}

.headerblock {
  h2, h3 {
    text-align: left;
  }

  h3 {
    margin-top: -10px;
    text-align: left;
    color: grey;
    font-size: 20px;
    margin-bottom: 10px;
  }

  &:hover {
    background-color: $hover-background-color;
  }
}

.entry {
  padding-top: 5px;
  padding-bottom: 5px;

  &:hover {
    background-color: $hover-background-color;

    p.action {
      display: inline;
    }
  }

  p {
    color: grey;
    // font-family: 'Lora', serif;
    margin: 0;

    .keywords {
      color: black;
    }

    &:not(:first-child) {
      padding-left: 20px;
    }

    &.noindent {
      padding-left: 0;
    }

    &.action {
      float: right;
      display: none;
      margin: 0 5px;
    }
  }
}

.button.warning {
  background-color: #FF8605;
}

.button.transparent {
  background-color: transparent;
  color: black;
}