// Place all the styles related to the brothers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$hover-background-color: #eee;

#brothers_show {
  #title {
    // padding: 5px 20px;

    &:hover {
      background-color: $hover-background-color;
    }
  }

  #entries {
    .entry {
      padding-top: 5px;
      padding-bottom: 5px;

      &:first-child {
        margin-top: 20px;
      }

      &:hover {
        background-color: $hover-background-color;
      }

      p {
        color: grey;
        font-family: 'Lora', serif;
        margin: 0;

        .keywords {
          color: black;
        }

        &:not(:first-child) {
          padding-left: 20px;
        }
      }
    }
  }

  h2, h3 {
    text-align: left;
    font-family: 'Lora', serif;
  }

  h3 {
    margin-top: -10px;
    text-align: left;
    color: grey;
    font-size: 20px;
  }
}