// Place all the styles related to the brothers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$hover-background-color: #eee;

#brothers_show {
  #entries {
    margin-top: 20px;

    & > p {
      color: grey;
      // font-family: 'Lora', serif;
      margin: 0;
    }
  }
}

#brothers_index {
  .entry:last-child {
    margin-bottom: 20px;
  }

  .result {
    text-align: right;
    display: none;

    &.success {
      color: #43ac6a;
    }
  }

  .balance_form {
    padding-left: 20px;
    display: none;

    .row {
      // margin-left: 20px;
      // margin-right: 30px;
      margin-left: auto;
      max-width: 300px;
      margin-top: 10px;
      height: 30px;
    }
  }
}