// Place all the styles related to the meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#meetings_index {
  #new_meeting {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

#meetings_show {
  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #attendence {
    .button {
      display: block;
      float: right;
      padding-left: 10px;
      padding-right: 10px;
    }

    span {
      line-height: 33px;
    }
  }
}