// Place all the styles related to the vouchers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#vouchers_show {
  #line_items {
    #errors {
      display: none;
    }

    span.amount {
      float: right;
    }

    a.remove {
      margin-left: 10px;
      display: none;
    }

    div:hover a.remove {
      display: inline;
    }

    #total {
      margin-top: 15px;
    }
  }
}